.advantages {
  background-color: #ffffff;
}
.advantages__header {
  padding: 32px 60px 32px 60px;
}
.advantages__header-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.advantages__header-description {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  padding: 35px 0 0 0;
}
.advantages__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
}
.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.advantages__item--first {
  color: #ffffff;
  background-color: #81b3d2;
}
.advantages__item--second {
  background-color: #eeeeee;
  border-bottom: 1px solid #d6d6d6;
}
.advantages__item {
  padding: 0;
  margin: 0;
}
