@media (min-width: 768px) {
  .right-list {
    width: 263px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .right-list li:last-child {
    padding-left: 26px;
    padding-right: 0px;
  }
  .right-list li:not(:last-child) {
    padding-left: 26px;
    padding-right: 0px;
  }
}
@media (min-width: 1200px) {
  .right-list {
    width: 430px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .right-list li:last-child {
    padding-left: 81px;
    padding-right: 0px;
  }
  .right-list li:not(:last-child) {
    padding-left: 0px;
    padding-right: 81px;
  }
}
